<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson02.dao.StoreDAO"> <!-- 다오의 위치를 namespace에 적어야한다. -->
	<select id="selectStoreList" resultType="com.quiz.lesson02.model.Store"> <!-- 모델의 위치르 적어야한다. -->
		SELECT
			*
		FROM
			`store`
	</select>
</mapper>